= render partial: "page_heading", locals: { title: "Let's Get Connected", subtitle: "We would love to start a conversation with you.  Contact Link if you have any questions, comments or concerns." }
.container
  .row{style: "padding: 20px 0;"}
    .col-md-12
      %h6 Tell Us About Yourself
      #form
        = render 'form'