= render partial: "page_heading", locals: { image: "contact-header.png", title: "Let's Get Connected", subtitle: "Contact Link if you have any questions, comments or concerns." }
.container
  .row{style: "padding: 20px 0;"}
    .col-md-12
      %h6 Tell Us About Yourself
      #form
        = render 'form'

/ = subscribe_to "/messages/new"