%ul.faqs
  - @faqs["articles"].each do |faq|
    %li
      %h6= highlight faq["question"], params[:search].present? ? params[:search].split(" ") : ""
      %p
        = highlight faq["answer_html"], params[:search].present? ? params[:search].split(" ") : ""
    %hr