.container
  .row
    .col-md-12
      %h1 Frequently Asked Questions

      = form_tag faqs_path, method: :get, id: "faqs_search", remote: true do
        = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search FAQ's"
        #faqs
          = render 'faqs'

      = link_to 'New FAQ', new_faq_path if params[:edit] == "true"