<% if @applicant.errors.any? %>
  $("#form").html("<%= j render 'form' %>");
  applyAutoNumeric();
<% else %>
  $("#form").html("<div class='alert alert-success center' id='message-sent'>Thanks!  Your application has been submitted and we will get back to you as soon as possible.</div>")
<% end %>