%p 5.75% interest rate
%p 1% origination fee added to total loan balance
%p 5.97% APR
%p $10,000 loan minimum
%p Loan available in 3, 5, 7, 10, 15, 20 or 30 year terms.  Shorter loan terms will maximize total loan savings, longer terms will minimize monthly payment.
%p Link does not recommend this loan if you are eligible for the U.S. Government's Income-Based Repayment plan or Public Service Loan Forgiveness program.  More details #{link_to 'here', faqs_path}