%p 
  %strong 5.84% – 6.41% fixed APR 
  dependent on loan term*.  APR calculation includes 1% origination fee for application processing and loan disbursement.
%p 
  Loans available in 
  %strong 3, 5, 7, 10, 15, 20 and 30 
  year terms.  Shorter terms will maximize overall savings; longer terms will minimize monthly payment.
%p
  See how different loan terms affect your savings with our 
  %strong= link_to "savings calculator", students_path + "#savings-calculator", style: "font-weight: bold;", id: "fixed-savings-calculator-link"
%p 
  %strong Don’t worry about canceling your old loans! 
  If you’re approved for a Link loan, Link will pay off the outstanding loan balance with your old loan provider(s).   No extra paperwork, cancellation hassle, or headaches for you.
%p
  Due to Federal lending requirements, Link cannot issue loans less than $10,000

%p
  %small * APR calculations assume $100,000 loan balance, all timely monthly payments, no grace period, no deferment, or any other disruption to regularly scheduled payments.