%p 
  %strong 5.84% – 6.41% fixed APR 
  dependent on loan term and borrower’s credit criteria.  
%p Quoted APRs include: 1% origination fee for application processing and loan disbursement.
%p 
  Loans available in 
  %strong 3, 5, 7, 10, 15, 20 and 30 
  year terms.  Shorter terms will maximize overall savings; longer terms will minimize monthly payment.
%p No prepayment penalties.
%p
  See how different loan terms affect your savings with our 
  %strong= link_to "savings calculator", "#savings-calculator", style: "font-weight: bold;", id: "fixed-savings-calculator-link"