.row.savings-calc-loan
  .col-xs-5
    = text_field_tag :loan_balance, "", class: "form-control currency balance", placeholder: "Remaining Balance"
  .col-xs-3
    = text_field_tag :loan_rate, "", class: "form-control percent rate", placeholder: "Rate"
  .col-xs-3
    = text_field_tag :loan_term, "", class: "form-control term", placeholder: "Months Left"
  .col-xs-1
    = link_to raw("<i class='glyphicon glyphicon-trash'></i>"), "#", class: "btn btn-default remove-loan"