#savings-results.pad.center{style: "display: none;"}
  %h6 Your Potential Savings With Link
  #fixed-savings.savings.fixed-3-savings.currency Enter some details!
  #variable-savings.savings.variable-5-savings.currency Enter some details!
  = render "home/savings_details"