#insufficient-data{style: "display: none; margin-top: 20px;"}
  .alert.alert-danger.center Please enter data for your loan to calculate your estimated savings.
#savings-results{style: "margin: 30px 0; display: none;"}
  %h6 Your Estimated Savings With Link
  .savings#savings-ten.currency Enter some details!
  = render "savings_details"