%p 
  %strong APR starting as low as 3.2%.
  APR calculation includes 1% origination fee for application processing and loan disbursement.
%p 
  Loan interest rate set at LIBOR rate +2.75% and resets monthly with maximum of 8.0%.  As with any variable rate loan, there is risk of interest rates rising higher than the rate at time of loan origination.
%p 
  Loans available in 
  %strong 5 and 10
  year terms.  See how different loan terms affect your savings with our 
  %strong= link_to "savings calculator", students_path + "#savings-calculator", style: "font-weight: bold;", id: "variable-savings-calculator-link"
%p 
  %strong Don’t worry about canceling your old loans! 
  If you’re approved for a Link loan, Link will pay off the outstanding loan balance with your old loan provider(s).   No extra paperwork, cancellation hassle, or headaches for you.
%p
  Due to Federal lending requirements, Link cannot issue loans less than $10,000

%p
  %small * APR calculations assume $100,000 loan balance, all timely monthly payments, no grace period, no deferment, or any other disruption to regularly scheduled payments.