%p 
  %strong APRs starting as low as 3.2%, 
  depending on borrower’s credit criteria and the London Interbank Offered Rate (LIBOR) at time of loan origination.
%p Quoted APRs include 1% origination fee for application processing and loan disbursement.
%p No prepayment penalties or additional service fees.
%p 
  Loans available in 
  %strong 5 and 10
  year terms.  See how different loan terms affect your savings with our 
  %strong= link_to "savings calculator", "#savings-calculator", style: "font-weight: bold;", id: "variable-savings-calculator-link"
%p Variable interest rate set at 1 month LIBOR rate +2.75% at the time of loan origination.  Variable interest rate resets monthly with maximum rate of 8.0%.  As with any variable rate loan, there is risk of interest rates rising higher than the rate at time of loan origination.

