= render partial: "page_heading", locals: { image: "apply-header.png", title: "Apply For a Loan", subtitle: "Start saving today. Find your school from the list below and get started on applying for a loan. Once you are approved, you will become a part of the Link network." }
.container
  .row
    .col-md-12
      %h4.center{style: "margin-top: 20px;"} Apply Now
      %div{style: "height: 300px;"}