.container
  .row
    .col-md-12
      %h2 Create your email signature
      .form-group
        = text_field_tag :name_input, "", placeholder: "Name", class: "form-control live", data: { target: "#name"}
      .form-group
        = text_field_tag :title_input, "", placeholder: "Title", class: "form-control live", data: { target: "#title"}
      .form-group
        = text_field_tag :phone_input, "", placeholder: "Phone xxx.xxx.xxxx", class: "form-control live", data: { target: "#phone"}
      #signature
        / #logo
        /   = image_tag "email_logo.jpg"
        #name{style: "font-weight: bold;"} Name
        #title Title
        #phone Phone
        / #website= link_to "linkcapital.com", "http://www.linkcapital.com"
        %br/
        #disclaimer{style: "color: #888; font-size: 12px;"}
          This communication may contain privileged and/or confidential information. It is intended solely for the use of the addressee. If you are not the intended recipient, you are strictly prohibited from disclosing, copying, distributing or using any of this information. If you received this communication in error, please contact the sender immediately and destroy the material in its entirety, whether electronic or hard copy. Confidential, proprietary or time-sensitive communications should not be transmitted via the Internet, as there can be no assurance of actual or timely delivery, receipt and/or confidentiality. This is not an offer, or solicitation of any offer to buy or sell any security, investment or other product. The firm reserves the right to monitor and retain all incoming and outgoing communications as permitted by applicable law.