%div#hero-background
  .container
    .row
      .col-md-12
        #hero-title
          %h2 A NEW, BETTER OPTION
          %h1 FOR STUDENT LOANS
.container
  .row#features
    .col-sm-4.first
      .feature#feature-one 
        %h6 For Students
        %p 
          = image_tag "http://placehold.it/90x200", class: "pull-right", style: "margin-left: 10px; margin-bottom: -20px;"
          Save up to $30,000 versus federal loans by re-financing with the help of investors from your school or organization network.
        .clearfix
    .col-sm-4.middle
      .feature#feature-two
        %h6 For Organizations
        %p
          = image_tag "http://placehold.it/90x200", class: "pull-right", style: "margin-left: 10px; margin-bottom: -20px;"
          Create an invaluable corporate benefit program that saves employees money while generating revenue for your organization
        .clearfix
    .col-sm-4.last
      .feature#feature-three 
        %h6 For Investors
        %p 
          = image_tag "http://placehold.it/90x200", class: "pull-right", style: "margin-left: 10px; margin-bottom: -20px;"
          Earn risk adjusted returns while helping lower education costs for junior members of your network
        .clearfix