%div#hero-background
  .container
    .row
      .col-md-12
        #hero-title
          %h2 A NEW, BETTER OPTION
          %h1 FOR STUDENT LOANS
.container
  .row#features
    .col-md-4
      .feature#feature-one Students
    .col-md-4
      .feature#feature-two Investors
    .col-md-4
      .feature#feature-three Organizations