%div#hero-background
  .container
    .row
      .col-md-12
        #hero-title
          %h2 A NEW, BETTER OPTION
          %h1 FOR STUDENT LOANS
.container
  .row#features
    .col-md-4
      .feature#feature-one 
        %h4 For Students
        %p 
          = image_tag "http://placehold.it/90x200", class: "pull-right", style: "margin-left: 10px; margin-bottom: -20px;"
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        .clearfix
    .col-md-4
      .feature#feature-two
        %h4 For Organizations
        %p
          = image_tag "http://placehold.it/90x200", class: "pull-right", style: "margin-left: 10px; margin-bottom: -20px;"
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        .clearfix
    .col-md-4
      .feature#feature-three 
        %h4 For Investors
        %p 
          = image_tag "http://placehold.it/90x200", class: "pull-right", style: "margin-left: 10px; margin-bottom: -20px;"
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        .clearfix