= render partial: "page_heading", locals: { image: "http://placehold.it/400x200", title: "Investors", subtitle: "Earn a healthy financial return while also helping to lower the cost of education for low-risk borrowers within your network." }
.container
  .row
    .col-md-12
      .frame
        %h4.center.why-link How It Works
        .row.description
          .col-sm-6
            = image_tag "http://www.placehold.it/400x200"
          .col-sm-6
            %strong The Government issues $19B of student loans every year. 
            Unlike a mortgage or auto loan, the government does not account for the borrower’s ability to repay, issuing loans to high risk borrowers with the same interest rate as loans to low risk borrowers.
        .row.description
          .col-sm-6
            %strong Link evaluates information such as credit score and employment history to identify student borrowers who are likely to repay their loans. 
            With the help of investor capital, Link refinances these student loans at a lower interest rate, saving the students money.
          .col-sm-6
            = image_tag "http://www.placehold.it/400x200"
        .row.description
          .col-sm-6
            = image_tag "http://www.placehold.it/400x200"
          .col-sm-6
            Interest payments on these refinanced loans become return on a very safe investment, an investment that also reduces the cost of education for a deserving student.
            %strong It's a win-win.