= render partial: "page_heading", locals: { title: "Organizations", subtitle: "Earn a great financial return while also helping to lower the cost of education for low-risk borrowers from your organization." }
.container
  .row
    .col-md-12
      .frame
        %h4.center.why-link Why is Link better?
        .row.description
          .col-sm-6
            = image_tag "http://www.placehold.it/400x200"
          .col-sm-6
            Text
        .row.description
          .col-sm-6
            Text
          .col-sm-6
            = image_tag "http://www.placehold.it/400x200"
        .row.description
          .col-sm-6
            = image_tag "http://www.placehold.it/400x200"
          .col-sm-6
            Text