= render partial: "page_heading", locals: { image: "organizations-header.png", title: "Gain a Recruiting Advantage", subtitle: "Link Capital creates custom programs that provide employers a distinct advantage in recruiting and retaining young talent. These programs can provide employee savings equal to the value of a signing or relocation bonus at zero cost to the employer. <br/><br/>Email <a href='mailto:employer@linkcapital.com' >employer@linkcapital.com</a> or call 312.724.7056 to discuss opportunities at your company." }
.container
  = render 'how_it_works_investors'
  / .row
  /   .col-md-12
  /     .mt-neg-5.bg-white
  /       .stripe.bg-green.h5
  /       .pad
  /         %h4.why-link Contact Us for More Info
  /         #form
  /           = render "employer_contacts/form"
  /       .clearfix