.static-page-header
.container
  .mt-neg-5.bg-white
    .stripe.bg-green.h5
    .pad
      .row
        .col-xs-12
          %h4 
            Privacy Policy
            %small Updated January 24, 2014

          %p Link collects and stores information about individuals who apply for a Link loan and about visitors to the Link Capital website. This information helps Link provide better products and services, whether it’s a loan with lower interest rate or a pro-active email letting you know that your loan payment is almost past due.

          %h6 The information we collect
          %p Link collects information in three ways:
          %ol{style: 'font-weight: 300; color: #333;'}
            %li Information you provide.  If you have already applied for a loan you’ve seen that a number of demographic and financial information is required.  This information is collected by CampusDoor, Link’s service provider, but ultimately transferred to Link. 
            %li Information we get when you use our services.  You interact with Link’s loan servicing team every time you make a monthly payment or call our help desk for information.  This information is collected by University Accounting Service, Link’s service provider, but ultimately transferred to Link.
            %li Information we get when you interact with our website.  Link uses cookies and anonymous identifiers to collect and store basic website usage information like the pages on our website that you visited.

          %h6 How we use it
          %p We use the information we collect to provide, maintain, and improve our existing products and services.  For example, collecting demographic and financial information helps us project a borrower’s risk of default.  A lower default risk unlocks a lower interest rate on a Link loan.

          %h6 Information we share
          %p Link shares information with its three core business partners:
          %ol{style: 'font-weight: 300; color: #333;'}
            %li CampusDoor, Link’s loan application engine
            %li University Accounting Service, Link’s loan service provider

          %h6 Information Security
          %p Link is committed to protecting the security of your personal information.  We use a variety of industry-standard security technologies and procedures to help protect against unauthorized access, use, or disclosure.  

          %h6 Changes
          %p Our privacy policy may change from time to time.  We will not reduce your rights under this privacy policy without your explicit consent.  We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice.



