= render partial: "page_heading", locals: { title: "For Student Loans", subtitle: "We link you to investors from your organization or school. They make a smart investment and you save more money." }
.container
  .row
    .col-md-12
      .frame
        %h4.center.why-link Why is Link better?
        .row.description
          .col-sm-6
            = image_tag "http://www.placehold.it/400x200"
          .col-sm-6
            Text
        .row.description
          .col-sm-6
            Text
          .col-sm-6
            = image_tag "http://www.placehold.it/400x200"
        .row.description
          .col-sm-6
            = image_tag "http://www.placehold.it/400x200"
          .col-sm-6
            Text
  /       %h3 Savings Calculator
  /       .row
  /         = form_tag "#", id: "savings-calculator" do
  /           .col-md-8
  /             = render 'loan_fields'
  /             = link_to_add_fields "Add a loan if consolidating / refinancing more than one"
  /           .col-md-4
  /             = submit_tag "Calculate Your Savings", class: "btn btn-success pull-right", id: "calculate-savings"
  / .row
  /   .col-md-12
  /     .well#savings-results{style: "display: none; margin-top: 20px; background: #ffffff;"}
  /       .pull-right#close-savings-results.btn.btn-default &times;
  /       %h4
  /         Your monthly payment at your current interest rate is: 
  /         %span#current-payment.currency
  /       %h4
  /         Your total remaining balance is: 
  /         %span#remaining-balance.currency
  /       %h4
  /         The total of your remaining payments is: 
  /         %span#remaining-payments.currency
  /       %table.table
  /         %thead
  /           %tr
  /             %th
  /             %th{colspan: 3, style: "text-align: center"} Loan Term
  /           %tr
  /             %th
  /             %th 5 Years
  /             %th 10 Years
  /             %th 15 Years
  /         %tbody
  /           %tr
  /             %th Monthly Payment
  /             %td#pmt-five.currency
  /             %td#pmt-ten.currency
  /             %td#pmt-fifteen.currency
  /           %tr
  /             %th Total Savings
  /             %td#savings-five.currency
  /             %td#savings-ten.currency
  /             %td#savings-fifteen.currency