.static-page-header
.container
  .mt-neg-5.bg-white
    .stripe.bg-green.h5
    .pad
      .row
        .col-xs-12
          %h4{style: "margin-bottom: 30px;"} Link Capital Website Terms of Use

          %h6 Terms of Use
          %p Thank you for your interest in Link Capital.  We want to make you aware that by visiting LinkCapital.com, you are agreeing to be bound by the Terms of Use described below.  If you have any questions or concerns, please contact us at #{link_to 'info@linkcapital.com', 'mailto:info@linkcapital.com'}.   

          %h6 Privacy
          %p Your privacy is very important to us and we have a number of industry standard practices in place to protect any information we collect on LinkCapital.com.  Our full privacy policy is #{link_to 'here', privacy_policy_path}.

          %h6 Links
          %p LinkCapital.com may contain links to websites maintained by third parties.  Such websites may have Terms of Use, Privacy Policies, or security practices that are different from those of Link Capital.  Link Capital disclaims any liability for any information or products offered at such websites.

          %h6 Website Changes and Modifications
          %p The materials appearing on Link Capital.com could include technical, typographical, or photographic errors.  Link Capital does not warrant that any of the materials on its web site are accurate, complete, or current.  Link Capital may make changes to the materials contained on its web site at any time without notice.  

          %h6 Disclaimer
          %p The materials on LinkCapital’s web site are provided “as is”.  Link Capital makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.  Further, Link Capital does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.  

          %h6 Limitations
          %p In no event shall Link Capital or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Link Capital’s web site, even if Link Capital or a Link Capital authorized representative has been notified orally or in writing of the possibility of such damage.  Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.

          %h6 Site Terms of Use Modifications
          %p Link Capital may revise these terms of use for its web site at any time without notice.  By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.

          %h6 Applicable Law
          %p You agree to abide by all applicable local, state, national and international laws and regulations in your use of LinkCapital.com.  Our website is available only to individuals who are permitted to use it under applicable law.  You agree to be solely responsible for your actions and the contents of your transmissions through the website.  You represent and warrant that you possess the legal right and ability to enter into these Terms of Use and to use the website in accordance with these terms of use.
