#schools {
  padding-top: 30px;
  .school {
    background: #FFFFFF;
    position: relative;
    border-radius: 8px;
    text-align: center;
    padding: 50px 20px 70px 20px;
    margin-bottom: 30px;
    img {
      max-width: 100%;
    }
    a {
      position: absolute;
      bottom: 0px;
      left: 0px;
      display: block;
      background: $apply-btn-bg;
      text-align: center;
      width: 100%;
      padding: 5px 0;
      color: #ffffff;
      border-radius: 0 0 8px 8px;
      text-shadow: 1px 1px 2px #333232;
    }
  }
}

.savings {
  font-size: 52px;
  color: #77BA03;
  line-height: 1;
}

@media (min-width: 768px) { 
  #schools-container { border-right: 1px solid #DDDDDD; }
}