$brand-success: #77BA03;
$brand-primary: #0484A1;
$navbar-default-bg: #F2F4F3;
$container-lg-desktop: 970px;
$grid-float-breakpoint: 992px;

$footer-bg: #242E2F;
$main-content-bg: #F2F4F4;
$light-blue-bg: #41B0C4;
$dark-blue-bg: #0084A5;
$green-bg: #77BA03;
$grey-bg: #f1f1f1;

@import "bootstrap";
@import "home";
@import "faqs";
@import "apply";
@import "applicants";
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');