// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  margin-bottom: 0!important;
}

$apply-btn-bg: $brand-success;

#apply-btn {
  background: $apply-btn-bg;
  color: #ffffff; 
  padding: 6px 12px;
  &:hover {
    background: darken($apply-btn-bg, 5%);
  }
}

#page {
  padding-bottom: 30px;
  min-height: 550px;
  background: #474749;
}

#footer {
  background-color: #242E2D;
  color: #96A8AC;
  padding: 20px 0;
  p { 
    margin: 0; 
  }
  a, a:link, a:visited {
    color: #96A8AC;
    text-decoration: underline;
  }
  .media {
    color: #C4C9CC;
    strong {
      color: #B9D038;
    }
  }
}

.savings-calc-loan {
  margin-bottom: 10px;
}

#hero-title {
  h2 {
    color: #C0D806;
    font-weight: 200;
    margin: 50px 0 0 0;
  }
  h1 {
    color: #ffffff;
    font-weight: 300;
    margin-top: 10px;
  }
}