
$apply-btn-bg: $brand-success;
$navbar-toggle-border: #333;
$header-bg: #474749;
$hero-bg-color: #474749;

$features-border: #E6E6E6;
body {
  background-color: $header-bg;
}
#uvw-dialog-powered-by-uv-1 {
  display: none!important;
}
#uvTab {
  background-image: none!important;
}
#uvTabLabel {
  padding-top: 10px!important;
}

.center { 
  text-align: center; 
  .modal {
    text-align: left;
  }
}

.placeholder { color: #aaa; }

h1, h2, h3, h4, h5, h6, h7, p, a {
  font-family: 'Lato', sans-serif;
}

::-webkit-input-placeholder { /* WebKit browsers */
  font-family: 'Lato', sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: 'Lato', sans-serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'Lato', sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-family: 'Lato', sans-serif;
}

h1, h2 { text-transform: uppercase; }

h1, h2, h3, h5, #apply-btn, #login-btn, .btn-success, .btn-primary {
  text-shadow: 1px 1px 2px #333232;
}

h1 {
  font-size: 46px;
  color: #EBEBF0;
}

h2, h3, h7 {
  font-size: 34px;
  color: $brand-success;
}

h4 {
  font-size: 32px; 
  color: #018EAC;
  &.modal-title {
    font-size: 18px;
  }
}

h5, h6, h7 {
  font-size: 18px;
}

h5 {
  font-weight: 300;
  line-height: 1.4;
  color: #EBEBF0;
}

h6 {
  color: #000;
}

p, a {
  font-weight: 300;
  font-size: 14px;
}

a {
  color: #007F9F;
}

.field-title {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.field-text {
  font-size: 18px;
  color: #666;
  .a {
    font-size: 18px;
  }
}

.navbar {
  margin-bottom: 0!important;
}

.btn {
  padding: 11px 15px;
}

#apply-btn, #login-btn {
  background: $apply-btn-bg;
  color: #ffffff; 
  font-size: 14px;
  padding: 6px 12px;
  @include box-shadow(1px 1px 3px #13272E);
  &:hover {
    background: lighten($apply-btn-bg, 5%);
  }
}

.btn-success:hover {
  background: lighten($apply-btn-bg, 5%);
}
.btn-primary:hover{
  background: lighten($brand-primary, 5%);
}

#page {
  background: #F2F4F4;
  padding-top: 60px;
  padding-bottom: 60px;
}

#page {
  padding: 50px 0 0 0;
}

.navbar-default {
  border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $brand-success;
  background-color: $header-bg;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #2b2b2b;
  color: #FFF;
}



.navbar-default {
  background-color: $header-bg;
  .navbar-toggle {
    margin-top: 22px;
    border-color: #fff;
    &:hover, &:focus {
      background-color: lighten($navbar-toggle-border, 15%);
    }
    .icon-bar {
      background-color: #fff;
    }
  }
  .navbar-collapse {
    border-color: $navbar-toggle-border;
  }
  .navbar-nav {
    li {
      a {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: #EBEBF0;
        text-shadow: 1px 1px 2px #333232;
        &:hover {
          color: $brand-success;
        }
      }
    }
    .dropdown-menu > li > a {
      color: #333;
      text-shadow: none;
      &:hover {
        background: #f1f1f1;
      }
    }
  }
}


#footer {
  background-color: $footer-bg;
  color: #7397A3;
  padding: 20px 0;
  .title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 6px;
  }
  h7 {
    margin-top: 6px;
    margin-bottom: 5px;
    display: block;
  }
  p { 
    margin: 0; 
  }
  a, a:link, a:visited {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #7397A3;
    text-decoration: underline;
  }
  .media {
    color: #EBEBF0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  hr { border-top: 1px solid #3B4344; }
  .copyright {
    font-size: 12px;
  }
}

.savings-calc-loan {
  margin-bottom: 10px;
  position: relative;
  &:first-child .remove-loan {
    display: none;
  }
  .form-group.has-error {
    margin: 0;
    .help-block {
      margin: 0;
    }
  }
  .remove-loan {
    position: absolute;
    height: 14px;
    width: 14px;
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    line-height: 11px;
    text-align: center;
    background: red;
    border: 1px solid darken(red, 15%);
    color: #fff;
    top: 50%;
    margin-top: 5px;
    right: -18px;
    text-decoration: none;
  }
}

#hero-background {
  background: #2E2C2D url('hero-bg.jpg') center;
  background-repeat: no-repeat;
  height: 540px;
  border-bottom: 5px solid #353E47;
  margin-bottom: -5px;
  margin-top: 80px;
} 

#hero-bg-responsive {
  margin-top: 80px;
  background: #2E2C2D;
}
#hero-inner {
  margin: 0 10%;
}

#hero-title {
  h1 { font-size: 43px; }
}

@media (max-width: 991px) { 
  #hero-bg-responsive {
    margin-top: 0;
  }
  #hero-background {
    height: 540px;
    margin-top: 0;
    background: #2E2C2D url('hero-bg.jpg') center;
  }
  #hero-title {
    h2 {
      margin-top: 65px!important;
      font-size: 26px;
    }
    h1 {
      font-size: 32px;
    }
  }
}

@media (max-width: 767px) { 
  #hero-bg-responsive {
    margin-top: 0;
  }
  #hero-background {
    height: 419px;
    background: #2E2C2D url('hero-bg-320.jpg') center;
    margin-top: 0;
  }
  #hero-title {
    h2 {
      margin-top: 65px!important;
      font-size: 26px;
    }
    h1 {
      font-size: 32px;
    }
  }
}

#page-heading {
  background: $header-bg url('page-header-bg.jpg');
  background-size: cover;
  border-bottom: 5px solid #353E47;
  h3 {
    margin-top: 0;
  }
  h5 { 
    a {
      color: #EBEBF0; 
      text-decoration: underline; 
      font-size: 18px;
    }
  }
  ul { 
    color: #EBEBF0; 
    padding-left: 20px; 
    text-shadow: 1px 1px 2px #333232; 
    color: #EBEBF0; 
    font-family: 'Lato', sans-serif; 
    font-weight: 300;
    a {
      color: #EBEBF0; 
      text-decoration: underline;
    }
  }
}

#hero-title {
  h2 {
    color: $brand-success;
    font-weight: 200;
    margin: 100px 0 0 0;
  }
  h1 {
    color: #ffffff;
    font-weight: 300;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  #page-heading {
    padding: 30px 0;
  }
  .description {
    .col-sm-6 {
      &:first-child {
        padding-bottom: 30px;
      }
      &:last-child {
        padding-bottom: 60px;
      }
    }
  }
}

@media (min-width: 768px) {
  #page-heading {
    padding: 50px 0 20px 0;
  }
}

@media (min-width: 992px) { 
  #features {
    .col-sm-4 {
      height: 298px;
      .feature {
        p {
          min-height: 141px;
        }
      }
    }
  }
  .navbar-default {
    background-color: transparent;
    &.scrolled {
      background-color: $header-bg;
    }
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
  }
  #page { padding: 0; }
  #page-heading {
    padding: 100px 0 20px 0;
  }
  .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #apply-btn, #login-btn {
    margin-top: 22px;
  }
}

#how-it-works {
  .modal-dialog {
    width: 620px;
  }
}
@media (max-width: 767px) {
  #how-it-works {
    .modal-dialog {
      width: 100%;
    }
    iframe {
      width: 100% !important;
    }
  }
}
#video-thumb {
  cursor: pointer;
  height: 266px;
  background: url('video-thumb.jpg');
  background-size: cover;
  border: 3px solid #fff;
  &:hover {
    background: url('video-thumb-hover.jpg');
    background-size: cover;
  }
}
@media (max-width:991px) {
  #video-thumb {
    height: 204px;
  }
}

/**************************** FEATURES ****************************/
/* Borders */
.bt { border-top: 1px solid $features-border; }
.br { border-right: 1px solid $features-border; }
.bb { border-bottom: 1px solid $features-border; }
.bl { border-left: 1px solid $features-border; }
/* No gutter columns */
.one-third { width: 33.33333333333%; }
/* Margin & padding */
.pad { padding: 17px; }
.mt-30 { margin-top: 30px; }
.mt-neg-5 { margin-top: -5px; }
.ml-10 { margin-left: 10px; }
.mr-neg-17 { margin-right: -17px; }
.mb-neg-20 { margin-bottom: -20px; }
/* Heights */
.h5 { height: 5px; }
.h290 { height: 300px; }
@media (min-width:768px) and (max-width:991px) {
  .h290 { height: 350px; }
}
@media (max-width:767px) {
  .h290 { height: 320px; }
}
/* Background colors */
.bg-green { background: $green-bg; }
.bg-light-blue { background: $light-blue-bg; }
.bg-dark-blue { background: $dark-blue-bg; }
.bg-grey { background: $grey-bg; }
.bg-white { background: #ffffff; }
/* Positioning */
.relative { position: relative; }
.absolute { position: absolute; }
.pos-b-30 { bottom: 30px; }
/* Responsive (sort of hacks) */
@media (max-width: 767px) {
  .one-third { width: 100%; }
  .br { border-left: 1px solid $features-border; }
  .bl { border-right: 1px solid $features-border; }
}
/**************************** FEATURES ****************************/

/**************************** HOW IT WORKS TEXT ****************************/
/* Tablet */
@media (min-width: 768px) {
  #students-1 { margin-top: 0px; }
  #students-2 { margin-top: 50px; }
  #students-3 { margin-top: 20px; }
  #organizations-1 { margin-top: 0px; }
  #organizations-2 { margin-top: 0px; }
  #organizations-3 { margin-top: 0px; }
  #investors-1 { margin-top: 0px; }
  #investors-2 { margin-top: 0px; }
  #investors-3 { margin-top: 0px; }
}
/* Computer */
@media (min-width: 992px) {
  #students-1 { margin-top: 30px; }
  #students-2 { margin-top: 100px; }
  #students-3 { margin-top: 50px; }
  #organizations-1 { margin-top: 30px; }
  #organizations-2 { margin-top: 40px; }
  #organizations-3 { margin-top: 70px; }
  #investors-1 { margin-top: 30px; }
  #investors-2 { margin-top: 40px; }
  #investors-3 { margin-top: 50px; }
}
/**************************** HOW IT WORKS TEXT ****************************/

.why-link {
  margin-bottom: 30px;
}
.description {
  /* margin-bottom: 30px; */
  img {
    max-width: 100%;
    min-width: 100%;
  }
}

#message-sent {
  margin: 50px 0;
}

.form-control {
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
}

#savings-placeholder {
  margin: 40px 0 0 40px;
}

.static-page-header {
  height: 365px;
  background: $hero-bg-color url('static-page-header.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
}