#footer
  .container
    .row
      .col-sm-8.col-md-6
        %p{style: "margin-top: 6px;"}
          &copy; Copyright 
          = Time.zone.now.year
          Link Capital
      .col-sm-4.col-md-6
        .row
          .col-md-4.col-md-offset-4
            %p
              .title.hidden-sm.hidden-xs &nbsp;
              = link_to "Terms of Use", terms_of_use_path
              %br/
              = link_to "Privacy Policy", privacy_policy_path
          .col-md-4
            %p 
              .title Link Capital
              (312) 226-6700
              %br/
              = link_to "info@linkcapital.com", "mailto:info@linkcapital.com"
    .row
      .col-sm-12
        %hr
        %p Disclaimer – Link Capital’s offered terms are subject to change.  None of the website’s information represents a recommendation, solicitation or offer by Link Capital or its affiliates to buy or sell any securities or other financial instruments. 