#footer
  .container
    .row
      .col-xs-6
        .media
          = link_to(image_tag("http://placehold.it/80x80", class: "media-object"), "#", class: "pull-left")
          .media-body
            %strong We're passionate about giving back
            %br/
            That's why we donate 20% of our revenues to the colleges and universities where our loans are offered
      .col-xs-3
        %p
          %strong FAQ
          %br/
          Have a question? 
          %br/
          = link_to "Find the answer", faqs_url
      .col-xs-3
        %p 
          %strong Link Capital
          %br/
          (312) 226-6700
          %br/
          = link_to "support@linkcapital.com", "mailto:support@linkcapital.com"