%nav.navbar.navbar-default{role: "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Link Capital", root_url, class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      %button.btn.btn-primary.navbar-btn.pull-right{style: "margin-right: -15px;"} Apply Now
      %ul.nav.navbar-nav.navbar-right{style: "margin-right: 20px;"}
        = nav_link "For Student Loans", students_url, "home", "students"
        = nav_link "For Investors", investors_url, "home", "investors"
        = nav_link "Contact Us", contact_url, "messages", "new"
    / /.navbar-collapse