%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("Link_Full_Logo_Light.png", style: "width: 173px; padding-top: 7px;"), root_url, class: "navbar-brand", style: "padding: 5px 15px;"
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "How it Works", "#", data: { toggle: "modal", target: "#how-it-works" }

= render 'how_it_works'